<div class ="columns">
  <div class ="column">
      <div class = "column" style="display: flex; justify-content: flex-end">
      <p><%= link_to "Sign up!", signup_path%> | </p>
      <p><%= link_to "Login!", login_path%></p>
    </div>
    <h2 class ="title is-2">Welcome to Heated Water Vapour online videogame shop!</h2>
    </div>
    <body>
      <%= image_tag("snes.jpg")%>
    </body>
  </div>